body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.form-floating label {
  font-size: 12px;
  width: fit-content;
  top: -22px;
}
.accordian_header {
  background-color: rgb(233, 227, 221);
}
button svg {
  margin: 0 4px 3px 0;
  background-color: transparent;
  /* background-color: rgba(230, 203, 176, 0.3); */
}
.chkLabel {
  width: 22px;
  padding-top: 4px;
  height: 24px;
  display: flex;
  align-items: center;
}
.chkLabel svg {
  margin: 0 4px 3px 0;
}

.addBtnHover svg {
  width: 22px;
  height: 19px;
  background-color: transparent;
}

.addBtnHover {
  background-color: #eee;
  border: none;
  padding: 6px 14px 6px 9px;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.addBtnHover:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.addBtnHover:hover:not(:disabled) {
  background: lightcoral;
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.addBtnHover:disabled {
  cursor: auto;
  color: grey;
}

.button {
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  height: 3rem;
  font-size: clamp(13px, 1vw, 16px);
  padding-inline: clamp(15px, 1.5vw, 32px);
  flex: 1 0 auto;
  border-radius: 1.5rem;
  background: transparent;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}

.button:hover::before {
  transform: scaleY(1);
}

/* .button-content {
  position: relative;
  z-index: 1;
} */

.button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.button:active {
  scale: 0.9;
}

@media screen and (max-width: 860px) {
  .footterWrapper {
    flex-wrap: wrap;
    display: flex;
  }

  .accordian_Head {
    font-size: 13px;
    padding: clamp(3px, 2vw, 20px) !important;
  }
  .eventSelect {
    max-width: 350px;
  }
}
.inputField {
  width: clamp(160px, 15vw, 195px);
  /* min-height: 38px !important; */
}
.footterWrapper {
  row-gap: 9px;
  flex-wrap: wrap;
  display: flex;
}

.accordian_Head {
  flex: 0 6 auto;
  padding: clamp(10px, 2vw, 20px);
}

svg {
  background-color: transparent;
}

.saveDrafteBtn {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.saveDrafteBtn {
  --primary-color: #baaaaa;
  --hovered-color: #e65555;
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.saveDrafteBtn p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.saveDrafteBtn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.3s ease-out;
}

.saveDrafteBtn p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Save Draft";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.saveDrafteBtn:hover::after {
  width: 100%;
}

.saveDrafteBtn:hover p::before {
  width: 100%;
}

.saveDrafteBtn:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.saveDrafteBtn svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

.eventDetails tr :nth-child(2) {
  border-right: none;
}
.eventDetails td,
.detailCell {
  padding-inline: 8px;
  border: 1px solid #dfe2e4;
  font-size: clamp(12px, 1vw, 14px) !important;
}
.input-group {
  flex-wrap: initial !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.X_ScrollBar::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

.X_ScrollBar::-webkit-scrollbar-track {
  background: #ded5d5; /* Background of the scrollbar track */
}

.X_ScrollBar::-webkit-scrollbar-thumb {
  background: #888; /* Background of the scrollbar thumb */
  border-radius: 90px; /* Rounded corners for the thumb */
}

.X_ScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Background of the scrollbar thumb on hover */
}
