body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.form-floating label {
  font-size: 12px;
  width: fit-content;
  top: -22px;
}
.accordian_header {
  background-color: rgb(233, 227, 221);
}
button svg {
  margin: 0 4px 3px 0;
  background-color: transparent;
  /* background-color: rgba(230, 203, 176, 0.3); */
}
.eventBackground {
  /* background-color: rgba(104, 138, 161, 0.2); */
  background: linear-gradient(
    rgba(101, 140, 231, 0.63) 0%,
    rgba(134, 181, 232, 0.37)
  );
}
.chkLabel {
  width: 22px;
  padding-top: 4px;
  height: 24px;
  display: flex;
  align-items: center;
}
.chkLabel svg {
  margin: 0 4px 3px 0;
}

.addBtnHover svg {
  width: 22px;
  height: 19px;
  background-color: transparent;
}

.addBtnHover {
  background-color: #eee;
  border: none;
  padding: 6px 14px 6px 9px;
  font-size: 1rem;
  width: 10em;
  border-radius: 1rem;
  white-space: nowrap;
  /* color: lightcoral; */
  color: #f0a54a;

  box-shadow: 0 0.4rem #a09d9d6e;
  cursor: pointer;
}

.addBtnHover:active {
  color: white;
  box-shadow: 0 0.2rem #dfd9d9;
  transform: translateY(0.2rem);
}

.addBtnHover:hover:not(:disabled) {
  /* background: lightcoral; */
  /* background-color: #f0a54a; */
  background: linear-gradient(
    82.3deg,
    rgb(240, 165, 74) 10.8%,
    rgb(253, 160, 107) 94.3%
  );
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
}

.addBtnHover:disabled {
  cursor: auto;
  color: grey;
}

.button {
  position: relative;
  flex: 0 0 auto;
  overflow: hidden;
  height: 33px;
  font-size: clamp(12px, 1vw, 16px);
  /* padding-inline: clamp(15px, 1.5vw, 32px); */
  padding-inline: 4px;
  width: clamp(100px, 11.6vw, 175px);
  max-width: 175px;
  /* max-width: 17; */
  /* flex: 1 1 150px; */
  white-space: nowrap;
  border-radius: 9px;
  background: transparent;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  /* transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1); */
  z-index: 1;
}

.button:hover::before {
  transform: scaleY(1);
}

.button::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(240, 165, 74) 10.8%,
    rgb(253, 160, 107) 94.3%
  );
  /* background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  ); */
  /* transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1); */
}

.button:active {
  scale: 0.9;
}
.accodian_Wrapper {
  display: flex;
}
.rowCount_wrap {
  font-size: clamp(12px, 1vw, 16px);
}
.key_btnWrap {
  justify-content: end;
  display: flex;
  font-size: clamp(14px, 1vw, 16px);
  align-items: center;
  margin-bottom: 20px;
  column-gap: 15px;
  margin-right: 10% !important;
}
@media screen and (max-width: 860px) {
  .footterWrapper {
    flex-wrap: wrap;
    display: flex;
  }
  .location_label {
    grid-column: 1 / span 3;
    /* padding: 1px !important; */
    white-space: nowrap;
    align-self: flex-end;
    display: none;
  }

  .accordian_Head {
    /* font-size: 13px; */
    padding: clamp(3px, 2vw, 20px) !important;
    /* padding-bottom: 0px !important; */
  }
  .eventSelect {
    max-width: 350px;
  }
  .key_btnWrap {
    padding-right: 0px !important;
    justify-content: space-between !important;
  }
  .accodian_Wrapper {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* max-height: 80px; */
    /* height: auto; */
  }
  .accodian_Wrapper span:nth-of-type(3) {
    border-right: none !important;
  }
}
@media screen and (max-width: 1100px) {
  .fieldWrapper {
    /* width: 25% !important; */
    /* zoom: "0.6"; */
  }
  .row {
    /* min-width: 1100px !important; */
    /* overflow-x: visible; */
  }
  .fieldWrapper {
    /* flex: 1 1 auto; */
    /* flex-wrap: nowrap; */
  }
  .inputField {
    /* width: 25%; */
  }
}
.fieldWrapper {
  flex-wrap: wrap;
}

.custom-label {
  position: relative;
}
.custom-label::after {
  position: absolute;
  top: 10px; /* Adjust to position the label at the border */
  left: 10px; /* Adjust to align the label with the input */
  background: white; /* Background to cover the input border */
  padding: 0 5px; /* Padding to ensure label text is readable */
  font-size: 12px !important;
  color: gray; /* Adjust label color as needed */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the spinner in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.react-datepicker__view-calendar-icon input,
.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  height: 30px;
}

.inputField,
.input-group,
.react-datepicker-wrapper {
  flex: 1 1 130px !important;
  height: 30px !important;
  max-width: 210px;
  min-width: 140px;
}
.inputField,
.input-group input::placeholder {
  font-size: clamp(11px, 0.92vw, 14px) !important;
}

.footterWrapper {
  row-gap: 9px;
  flex-wrap: wrap;
  display: flex;
  justify-content: end;
}

.accordian_Head {
  flex: 0 6 auto;
  /* white-space: nowrap; */
  padding: clamp(10px, 1.3vw, 20px);
  font-size: clamp(13px, 0.9vw, 15px);
  /* font-size: 1em; */
}
.react-datepicker-wrapper svg {
  /* margin-top: 2px; */
  font-size: 12px;
  height: 100%;
  padding: 0 0 0 0.8em !important;
}
svg {
  background-color: transparent;
}

.saveDrafteBtn {
  padding: 0;
  padding-left: 15px;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.saveDrafteBtn {
  --primary-color: #baaaaa;
  /* --hovered-color: rgb(240, 165, 74) 10.8%; */
  --hovered-color: #f0a54a;
  /* --hovered-color: #e65555; */
  position: relative;
  display: flex;
  font-weight: 600;
  font-size: 20px;
  gap: 0.5rem;
  align-items: center;
}

.saveDrafteBtn p {
  margin: 0;
  position: relative;
  font-size: 20px;
  color: var(--primary-color);
}

.saveDrafteBtn::after {
  position: absolute;
  content: "";
  width: 0;
  left: 0;
  bottom: -7px;
  background: var(--hovered-color);
  height: 2px;
  transition: 0.2s ease-out;
}

.saveDrafteBtn p::before {
  position: absolute;
  /*   box-sizing: border-box; */
  content: "Save Draft";
  width: 0%;
  inset: 0;
  color: var(--hovered-color);
  overflow: hidden;
  transition: 0.3s ease-out;
}

.saveDrafteBtn:hover::after {
  width: 100%;
}

.saveDrafteBtn:hover p::before {
  width: 100%;
}

.saveDrafteBtn:hover svg {
  transform: translateX(4px);
  color: var(--hovered-color);
}

.saveDrafteBtn svg {
  color: var(--primary-color);
  transition: 0.2s;
  position: relative;
  width: 15px;
  transition-delay: 0.2s;
}

.eventDetails tr :nth-child(2) {
  border-right: none;
}
.eventDetails td,
.detailCell {
  padding-inline: 8px;
  border: 1px solid #dfe2e4;
  font-size: clamp(12px, 1vw, 14px) !important;
}
.input-group {
  flex-wrap: initial !important;
  height: 30px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.X_ScrollBar::-webkit-scrollbar {
  width: 12px; /* Width of the vertical scrollbar */
  height: 12px; /* Height of the horizontal scrollbar */
}

.X_ScrollBar::-webkit-scrollbar-track {
  background: #ded5d5; /* Background of the scrollbar track */
}

.X_ScrollBar::-webkit-scrollbar-thumb {
  background: #888; /* Background of the scrollbar thumb */
  border-radius: 90px; /* Rounded corners for the thumb */
}

.X_ScrollBar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Background of the scrollbar thumb on hover */
}
